<div class="pg-login-usuario">
    <button href="#" type="button" class="btn btn-primary">Login</button>
</div>

<form [formGroup]="formularioCadastro" (ngSubmit)="onSubmit()">
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="validatedCustomFile" required>
    <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
    <div class="invalid-feedback">Example invalid custom file feedback</div>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Nome</label>
    <input type="text" class="form-control" id="primeiroNome"
      required
      formControlName="primeiroNome"
      placeholder="Primeiro Nome">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Sobrenome</label>
    <input
      type="text" class="form-control" id="ultimoNome"
      required
      formControlName="ultimoNome"
      placeholder="Último Nome">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Cargo (Professou ou Aluno</label>
    <input
      type="text" class="form-control" id="cargo"
      required
      formControlName="cargo"
      placeholder="Digite Professor ou Aluno"
    >
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Escola</label>
    <input
      type="text" class="form-control" id="escola"
      required
      formControlName="nomeEscola"
      placeholder="Nome da Escola"
    >
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Data de Nascimento</label>
    <input
      type="text" lass="form-control" id="dtNascimento"
      required
      formControlName="dtNascimento"
      placeholder="dia/mês/ano">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email</label>
    <input
      type="text" class="form-control" id="email"
      required
      formControlName="email"
      placeholder="exemplo@exemplo.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Senha</label>
    <input
      type="text" class="form-control" id="senha"
      required
      formControlName="senha"
      placeholder="**************">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Confirme sua senha</label>
    <input
      type="text" class="form-control" id="confirmaSenha"
      required
      formControlName="confirmaSenha"
      placeholder="**************"
      formControlName="confirmaSenha">
  </div>
  <button type="submit" [disabled]="!formularioCadastro.valid">Confirmar Cadastro</button>

  <button (click)="updateProfile()">Update Profile</button>
</form>