<section id="pg-cadastro">
  <div class="pg-login-usuario">
      <button type="button" class="btn btn-primary" (click)="login()">Já possui uma conta? Faça seu login aqui!</button>
  </div>

  <div class="cadastroProfessor">
    <div class="custom-file" class="profile-cadastro">
      <img class="img-profile-cadastro" src="./../../assets/img/profile-image.gif">
      <div class="selecionar-img">
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>
    </div>

    <div class="content-cadastro">
      <div class="primeira-coluna">
        <h1 class="info-pessoal">Informações pessoais</h1>
        <div class="form-group nome-cadastro">
          <label for="exampleFormControlInput1">Nome</label>
          <input class="form-control" type="text" [(ngModel)]="primeiroNome" name="primeiroNome" placeholder="Primeiro Nome">
        </div>

        <div class="form-group sobrenome-cadastro">
          <label for="exampleFormControlInput1">Sobrenome</label>
          <input class="form-control" type="text" [(ngModel)]="ultimoNome" name="ultimoNome" placeholder="Último Nome">
        </div>

        <div class="form-group dt-nascimento-cadastro">
          <label for="exampleFormControlInput1">Data de Nascimento</label>
            <input class="form-control" type="text" [(ngModel)]="dtNascimento" name="dtNascimento" placeholder="dia/mês/ano">
        </div>

        <div class="form-group cargo-cadastro">
          <label for="exampleFormControlInput1">Cargo: Aluno</label>
          <input class="form-control" type="text" [(ngModel)]="cargo" name="cargo" placeholder="Cargo: Professor ou Aluno">
        </div>

        <div class="form-group escola-cadastro">
          <label for="exampleFormControlInput1">Escola</label>
          <input class="form-control" type="text" [(ngModel)]="nomeEscola" name="nomeEscola" placeholder="Nome da Escola">
        </div>
      </div>

      <div class="linha-vertical"></div>

      <div class="segunda-coluna">
        <h1 class="info-conta">Informações da conta</h1>
        <div class="form-group email-cadastro">
          <label for="exampleFormControlInput1">Email</label>
          <input class="form-control" type="text" [(ngModel)]="email" name="email" placeholder="Email">
        </div>

        <div class="form-group senha-cadastro">
          <label for="exampleFormControlInput1">Senha</label>
          <input class="form-control" type="text" [(ngModel)]="senha" name="senha" placeholder="Senha">
        </div>

        <div class="form-group confirma-senha-cadastro">
          <label for="exampleFormControlInput1">Confirme sua senha</label>
          <input class="form-control" type="text" [(ngModel)]="confirmaSenha" name="confirmaSenha" placeholder="Confirma Senha">
        </div>
        <input class="btn btn-primary" type="submit" value="Cadastrar Usuário" (click)="criarAluno()">
        <button class="btn btn-link" (click)="editaUsuario()">Atualizar Cadastro</button>
        <div>
          <button class="btn btn-link"(click)="clear()">Limpar Formulário</button>
        </div>
      </div>
    </div>
  </div>

  <ul *ngFor="let aluno of alunos | async">
    <li>
      <p>{{ aluno.primeiroNome }} | {{ aluno.ultimoNome }} | {{ aluno.cargo }} | {{ aluno.dtNascimento }}</p>
      <p>{{ aluno.nomeEscola }} | {{ aluno.email }} | {{ aluno.senha }} | {{ aluno.confirmaSenha }}</p>
    </li>
  </ul>
</section>