<section id="resolver-questoes">
	<!-- breadcrumb -->
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">Resolver Questões</li>
			</ol>
		</nav>
	</div>

	<div class="container">
		<div class="progress">
			<div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
		<div class="form-group">
			<label for="exampleFormControlTextarea1"><span class="strong">Pergunta: </span>How are you?</label>
			<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
			<small class="form-text text-muted">Digite sua resposta e clique em avançar.</small>
		</div>
		<div class="justify-content-end btn-avancar">
			<button type="button" class="btn btn-primary">Avançar</button>
		</div>
	</div>
	
</section>