<section>
  <!-- breadcrumb -->
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-light">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Cadastrar Questões</li>
      </ol>
    </nav>
  </div>

  <div class="container">
    <div class="cadastro-questoes">
      <div class="form-group">
          <label for="nivel">Nível</label>
          <!--<select id="inputState" class="form-control">
            <option selected>Selecione...</option>
            <option value="Iniciante">Iniciante</option>
            <option value="Intermediário">Intermediário</option>
            <option value="Difícil">Difícil</option>
            <option value="Desafio">Desafio</option>
          </select>-->
          <input class="form-control" type="text" [(ngModel)]="nivel" name="nivel" placeholder="Nível [Iniciante, Intermediário, Difícil, Desafio]">
          <small id="emailHelp" class="form-text text-muted">Informe o nível da questão a ser cadastrada [Iniciante, Intermediário, Difícil, Desafio].</small>
      </div>

      <div class="form-group">
        <label for="pergunta">Pergunta</label>
        <input type="text" class="form-control" [(ngModel)]="pergunta" id="pergunta" placeholder="How are you?">
      </div>

      <div class="form-group">
        <label for="pergunta">Tradução</label>
        <input type="text" class="form-control" [(ngModel)]="resposta" id="resposta" placeholder="Como você está?">
        <small id="emailHelp" class="form-text text-muted">A traduação é a resposta que o aluno deve inserir no campo de resposta.</small>
      </div>

      <!--<div class="btn-nova-questao">
        <a href="#"><i class="fas fa-plus-circle"></i>Adicionar nova questão</a>
      </div>-->

      <div class="text-right">
        <input class="btn btn-success" type="submit" value="Adicionar nova questão" (click)="cadastrarQuestao()">
      </div>
      <app-btn-questoes-bottom></app-btn-questoes-bottom>
    </div>
  </div>
</section>