<nav class="navbar navbar-expand-md bg-primary navbar-dark">
	<div class="container">
		<a class="navbar-brand" href="#">eniw</a>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
		<ul class="navbar-nav">
			<li class="nav-item">
			<a class="nav-link" href="#">
				<i class="fa d-inline fa-lg fa-envelope-o"></i>&nbsp;Entre em contato</a>
			</li>
		</ul>
		<a class="btn navbar-btn btn-primary ml-2 text-white">
			<i class="fa d-inline fa-lg fa-user-circle-o"></i>&nbsp;Entrar</a>
		</div>
	</div>
</nav>
<div class="py-5">
	<div class="container">
		<div class="row">
			<div class="col-md-3"> </div>
			<div class="col-md-6">
				<div class="card text-white p-5 bg-primary">
					<div class="card-body">
					  <h1 class="mb-4 text-center">Faça seu login</h1>
					  <form>
						  <div class="form-group">
							  <label>Email</label>
							  <input id="email" type="email" class="form-control" placeholder="Email"> </div>
						  <div class="form-group">
							  <label>Senha</label>
							  <input id="password" type="password" class="form-control" placeholder="Senha"> </div>
					  </form>
					  <button onclick="login()" class="btn btn-block btn-warning">Login</button>
				  </div>
			  </div>
			</div>
		</div>
	</div>
</div>