<div class="wrapper col-md-12 float-left p-0">
  <!-- Sidebar -->
  <nav id="sidebar">
    <div class="sidebar-header text-center">
      <img src="../../assets/global.png" alt="Usuário" class="rounded-circle w-50">
    </div>

    <ul class="list-unstyled components text-center">
      <li>
        <a routerLink="perfil">Perfil</a>
      </li>
      <li>
        <a routerLink="turmas">Nova Turma</a>
      </li>
      <li>
        <a routerLink="cadastro">Cadastrar Aluno</a>
      </li>
      <li>
        <a routerLink="cadastro">Cadastrar Professor</a>
      </li>
      <li>
        <a routerLink="progresso">Progresso Turmas</a>
      </li>
      <li>
        <a routerLink="niveis">Questões</a>
      </li>
      <li>
        <a (click)="logout()">Sair</a>
      </li>
    </ul>

  </nav>
  <!-- Page Content -->
  <div id="content" class="container">

    <!-- <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="btn btn-light-outline" (click)="onClickToggle()">
          <i class="fas fa-align-left"></i>
          <span> >> </span>
        </button>
      </div>
    </nav> -->
    <router-outlet></router-outlet>

  </div>
</div>