<section id="visualizar-questoes">
  <header class="menu-progresso-turma">
    <div class="container">
      <div class="btn-cadastrar-turmas">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>Hey, professor(a)!</strong> Para alterar uma questão, clique na pergunta ou resposta/tradução :)
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  </header>

  <!-- breadcrumb -->
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Visualizar Questões</li>
      </ol>
    </nav>
  </div>

  <div class="container">
    <table class="table table-hover table-striped table-questoes">
      <thead>
        <tr>
          <th scope="col">Nível</th>
          <th scope="col">Pergunta</th>
          <th scope="col">Tradução/Resposta</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Iniciante</th>
          <td>How are you?</td>
          <td>Como você está?</td>
        </tr>

        <tr>
          <th scope="row">Iniciante</th>
          <td>How are you?</td>
          <td>Como você está?</td>
        </tr>

        <tr>
          <th scope="row">Iniciante</th>
          <td>How are you?</td>
          <td>Como você está?</td>
        </tr>

        <tr>
          <th scope="row">Iniciante</th>
          <td>How are you?</td>
          <td>Como você está?</td>
        </tr>

        <tr>
          <th scope="row">Iniciante</th>
          <td>How are you?</td>
          <td>Como você está?</td>
        </tr>

        <tr>
          <th scope="row">Iniciante</th>
          <td>How are you?</td>
          <td>Como você está?</td>
        </tr>
      </tbody>
    </table>
    <app-btn-questoes-bottom></app-btn-questoes-bottom>
  </div>
</section>