<div class="content">

  <div class="row">

    <div class="col-md-6">
      <div class="card m-5">
        <div class="card-body">
          <h5 class="card-title text-center">Nível: Iniciante</h5>
          <div class="row text-center">
            <div class="col-md-6">
              <button class="btn btn-info">Inserir Questão</button>
            </div>
            <div class="col-md-6">
              <button class="btn btn-info">Ver Questões</button>
            </div>
          </div>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card m-5">
        <div class="card-body">
          <h5 class="card-title text-center">Nível: Intermediário</h5>
          <div class="row text-center">
            <div class="col-md-6">
              <button class="btn btn-info">Inserir Questão</button>
            </div>
            <div class="col-md-6">
              <button class="btn btn-info">Ver Questões</button>
            </div>
          </div>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card m-5">
        <div class="card-body">
          <h5 class="card-title text-center">Nível: Difícil</h5>
          <div class="row text-center">
            <div class="col-md-6">
              <button class="btn btn-info"><i class="fas fa-plus"></i></button>
              <span>Inserir Questão</span>
            </div>
            <div class="col-md-6">
              <button class="btn btn-info"><i class="fas fa-eye"></i></button>
              <span>Ver Questões</span>
            </div>
          </div>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card m-5">
        <div class="card-body">
          <h5 class="card-title text-center">Nível: Desafio</h5>
          <div class="row text-center">
            <div class="col-md-6">
              <button class="btn btn-info">Inserir Questão</button>
            </div>
            <div class="col-md-6">
              <button class="btn btn-info">Ver Questões</button>
            </div>
          </div>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>

  </div>

</div>