<section id="visualizar-questoes">
  <header class="menu-progresso-turma">
    <div class="container">
      <div class="btn-cadastrar-turmas">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>Hey, professor(a)!</strong> Se você quer eleborar exercícios <a href="#" class="alert-link">clique aqui</a> :)
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  </header>

  <!-- breadcrumb -->
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Visualizar Turmas</a></li>
        <li class="breadcrumb-item active" aria-current="page">Perfil Turma</li>
      </ol>
    </nav>
  </div>

  <div class="container">
    <div class="card shadow-sm p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <div class="info-turma">
          <h1>Informações sobre a turma</h1>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><span class="strong">Identificador da Turma: </span></li>
            <li class="list-group-item"><span class="strong">Escola: </span></li>
            <li class="list-group-item"><span class="strong">Ano/Série: </span></li>
            <li class="list-group-item"><span class="strong">Nível Educacional: </span></li>
            <li class="list-group-item"><span class="strong">Observações: </span></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="card shadow-sm p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <h1>Exercícios</h1>
        <div class="row">
          <div class="col-sm-6">
            <div class="card bg-light mb-3">
              <div class="card-header"><span class="strong">Identificador do Exercício: </span>@NomeIdentificador</div>
              <div class="card-body">
                <h5 class="card-title">Lista de Exercícios</h5>
                <p>
                  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Visualizar Exercícios
                  </a>
                </p>
                <div class="collapse" id="collapseExample">
                  <div class="card card-body">
                    <ul>
                      <li>
                        <span>
                          <button type="button" class="btn btn-danger">Remover</button>
                        </span><span class="strong">
                        1. </span>How are you
                      </li>
                      <li>
                        <span>
                          <button type="button" class="btn btn-danger">Remover</button>
                        </span><span class="strong">
                        2. </span>How are you
                      </li>
                      <li>
                        <span>
                          <button type="button" class="btn btn-danger">Remover</button>
                        </span><span class="strong">
                        3. </span>How are you
                      </li>
                      <li>
                        <span>
                          <button type="button" class="btn btn-danger">Remover</button>
                        </span><span class="strong">
                        4. </span>How are you
                      </li>
                      <li>
                        <span>
                          <button type="button" class="btn btn-danger">Remover</button>
                        </span><span class="strong">
                        5. </span>How are you
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="card bg-light mb-3">
              <div class="card-header"><span class="strong">Identificador do Exercício:   </span>@NomeIdentificador</div>
              <div class="card-body">
                <h5 class="card-title">Lista de Exercícios</h5>
                <p>
                  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Visualizar Exercícios
                  </a>
                </p>
                <div class="collapse" id="collapseExample">
                  <div class="card card-body">
                    <ul>
                      <li>
                        <span>
                          <button type="button" class="btn btn-danger">Remover</button>
                        </span><span class="strong">
                        1. </span>How are you
                      </li>
                      <li>
                        <span>
                          <button type="button" class="btn btn-danger">Remover</button>
                        </span><span class="strong">
                        2. </span>How are you
                      </li>
                      <li>
                        <span>
                          <button type="button" class="btn btn-danger">Remover</button>
                        </span><span class="strong">
                        3. </span>How are you
                      </li>
                      <li>
                        <span>
                          <button type="button" class="btn btn-danger">Remover</button>
                        </span><span class="strong">
                        4. </span>How are you
                      </li>
                      <li>
                        <span>
                          <button type="button" class="btn btn-danger">Remover</button>
                        </span><span class="strong">
                        5. </span>How are you
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="card bg-light mb-3">
              <div class="card-header"><span class="strong">Identificador do Exercício:   </span>@NomeIdentificador</div>
              <div class="card-body">
                <h5 class="card-title">Lista de Exercícios</h5>
                <p>
                  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Visualizar Exercícios
                  </a>
                </p>
                <div class="collapse" id="collapseExample">
                  <div class="card card-body">
                    <ul>
                      <li>
                        <span>
                          <button type="button" class="btn btn-danger">Remover</button>
                        </span><span class="strong">
                        1. </span>How are you
                      </li>
                      <li>
                        <span>
                          <button type="button" class="btn btn-danger">Remover</button>
                        </span><span class="strong">
                        2. </span>How are you
                      </li>
                      <li>
                        <span>
                          <button type="button" class="btn btn-danger">Remover</button>
                        </span><span class="strong">
                        3. </span>How are you
                      </li>
                      <li>
                        <span>
                          <button type="button" class="btn btn-danger">Remover</button>
                        </span><span class="strong">
                        4. </span>How are you
                      </li>
                      <li>
                        <span>
                          <button type="button" class="btn btn-danger">Remover</button>
                        </span><span class="strong">
                        5. </span>How are you
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="card bg-light mb-3">
              <div class="card-header"><span class="strong">Identificador do Exercício:   </span>@NomeIdentificador</div>
              <div class="card-body">
                <h5 class="card-title">Lista de Exercícios</h5>
                <p>
                  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Visualizar Exercícios
                  </a>
                </p>
                <div class="collapse" id="collapseExample">
                  <div class="card card-body">
                    <ul>
                      <li>
                        <span>
                          <button type="button" class="btn btn-danger">Remover</button>
                        </span><span class="strong">
                        1. </span>How are you
                      </li>
                      <li>
                        <span>
                          <button type="button" class="btn btn-danger">Remover</button>
                        </span><span class="strong">
                        2. </span>How are you
                      </li>
                      <li>
                        <span>
                          <button type="button" class="btn btn-danger">Remover</button>
                        </span><span class="strong">
                        3. </span>How are you
                      </li>
                      <li>
                        <span>
                          <button type="button" class="btn btn-danger">Remover</button>
                        </span><span class="strong">
                        4. </span>How are you
                      </li>
                      <li>
                        <span>
                          <button type="button" class="btn btn-danger">Remover</button>
                        </span><span class="strong">
                        5. </span>How are you
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="card shadow-sm p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <div class="alunos-cadastrados">
          <h1>Alunos Cadastrados</h1>
          <table class="table table-hover table-striped table-questoes">
            <thead>
              <tr>
                <th scope="col">Excluir</th>
                <th scope="col">Alterar</th>
                <th scope="col">Aluno</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th><input type="checkbox" aria-label="Checkbox for following text input"> Excluir</th>
                <td>Editar</td>
                <td>Como você está?</td>
              </tr>
    
              <tr>
                <th><input type="checkbox" aria-label="Checkbox for following text input"> Excluir</th>
                <td>Editar</td>
                <td>Como você está?</td>
              </tr>
    
              <tr>
                <th><input type="checkbox" aria-label="Checkbox for following text input"> Excluir</th>
                <td>Editar</td>
                <td>Como você está?</td>
              </tr>
    
              <tr>
                <th><input type="checkbox" aria-label="Checkbox for following text input"> Excluir</th>
                <td>Editar</td>
                <td>Como você está?</td>
              </tr>
    
              <tr>
                <th><input type="checkbox" aria-label="Checkbox for following text input"> Excluir</th>
                <td>Editar</td>
                <td>Como você está?</td>
              </tr>
    
              <tr>
                <th><input type="checkbox" aria-label="Checkbox for following text input"> Excluir</th>
                <td>Editar</td>
                <td>Como você está?</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
  </div>
</section>